<div class="custom-card shadow-sm border-0 mb-3">
  <div class="card-body text-center">
    <h3 class="card-title mb-3">
      <%= link_to event.title, user_event_path(event.user, event), class: "text-success text-decoration-none" %>
    </h3>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-end gap-2">
        <%= participation_button(event, current_user) %>
        <%= favorite_button(event, current_user) %>
      </div>
    <% end %>
    <p class="text-muted"><%= event.start_time.strftime('%Y年%m月%d日 %H:%M') %> 開催</p>
    <span class="badge bg-primary"><%= event.category.name %></span>
    <p class="text-muted mt-2"><strong>作成者:</strong> <%= event.user.name %></p>
  </div>
</div>
