<div class="custom-card shadow-sm border-0 mb-3">
  <div class="card-body text-center">
    <%= link_to user_event_path(event.user, event), class: "text-decoration-none" do %>
      <h3 class="card-title text-success mb-3"><%= event.title %></h3>
    <% end %>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-end">
        <%= favorite_button(event) %>
      </div>
    <% end %>
    <p class="text-muted"><%= event.start_time.strftime('%Y年%m月%d日 %H:%M') %> 開催</p>
    <span class="badge bg-primary"><%= event.category.name %></span>
    <p class="text-muted mt-2"><strong>作成者:</strong> <%= event.user.name %></p>
  </div>
</div>
